In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [30]:
path ='../../BTC_data/elliptic_txs_classes.csv'

dirname = os.path.dirname(path)
PATH_TO_edgelist = os.path.join(dirname, "elliptic_txs_edgelist.csv")
PATH_TO_features = os.path.join(dirname, "elliptic_txs_features.csv")

### Working on 1000 rows and TxID as index

In [48]:
edgelist = pd.read_csv(PATH_TO_edgelist,nrows=1000, index_col='txId1')

classes = pd.read_csv(path,nrows=1000,index_col='txId')

features = pd.read_csv(PATH_TO_features,nrows=1000)#,index_col=0)
features.columns = ['id', 'time'] + [f'feature_{i}' for i in range(93)] + [f'agg_feat_{i}' for i in range(72)]
features.set_index('id',inplace=True)

In [25]:
print(edgelist.shape)
print(classes.shape)

(1000, 2)
(1000, 2)

In [39]:
classes.head(2)

             class
txId
230425980  unknown
5530458    unknown

In [46]:
edgelist.head(2)

               txId2
txId1
230425980    5530458
232022460  232438397

In [49]:
features.head(2)

,time,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,agg_feat_62,agg_feat_63,agg_feat_64,agg_feat_65,agg_feat_66,agg_feat_67,agg_feat_68,agg_feat_69,agg_feat_70,agg_feat_71
id,,,,,,,,,,,,,,,,,,,,,
5530458,1,-0.171484,-0.184668,-1.201369,-0.12197,-0.043875,-0.113002,-0.061584,-0.162112,-0.167948,...,0.947382,0.673103,-0.979074,-0.978556,0.018279,-0.087490,-0.131155,-0.097524,-0.120613,-0.119792
232022460,1,-0.172107,-0.184668,-1.201369,-0.12197,-0.043875,-0.113002,-0.061584,-0.162749,-0.168576,...,0.670883,0.439728,-0.979074,-0.978556,-0.098889,-0.106715,-0.131155,-0.183671,-0.120613,-0.119792